* {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}

body {
    color: #000;
}


.header{
    background-color: white;
    /*position: relative;
    top:0;
    left: 0;*/
    float: left;
    width: 100%;
    height: 15%;
}



.header-name {
    
    top: 0;
    left: 0;
    color:black;
    font-size:60px;   
    display:table; 
    margin-left:auto; 
    margin-right:auto;
    margin-top: 20px;
}

.car-content{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:200px;
}

.menu-bar {
    background-color: #615852;
    color:white;
    font-weight: bold;
    font-size:16px;
    clear: both;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.menu-sub{
    /* justify-content: center;
    text-align: center; */
    /* display: flex;
  align-items: center;
  flex-direction: column; */
    color:white;
    font-size:20px;
       
}


.car-box {
    /* float: left; */
    position: relative;
    display: inline;
    background-color:white;
    margin: 20px;
    width:300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border: 1px solid yellow;
}

.car-container {
    float: left;
    display: block;
    width:100%;
    max-height: 50%;
}

.car-name {
    float: left;
    display: block;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #000;

}
.car-name > ul {
    float: left;
    padding: 0;
    width: 100%;
    text-align: center;

}
.car-name > ul > li {
    float: left;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

.car-font {
    font-size:20px;
    font-weight: bold;
}

.car-cost {
    font-size:25px;
    color:blue;
    font-weight: bold;
}
/* .car-info {
    justify-content: center;
} */

