
#textfield{
  width:500px;
  height:30px;
  font-size:20px;
  border: 1px solid yellow;
  border-radius: 10px;
}
  

body {
  background-color: #2c3e50;
}

.btn {
  cursor: pointer;
  color: blue;
}

body {
  color: white;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.bgImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:-1;
  animation: fadeIn .5s linear;
}

.project-tag{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color:white;
  margin-top: 70px;
  
}

.icon-space {
  margin-left: 20px;
  color:yellow;
}

.icon-space1 {
  margin-left: 10px;
  color: white;
  
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.icon-contents {
  padding: 70px 150px; /*top, right, bottom, left*/ 
  display: flex;
  font-size: 55px;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  width: 500px;
  /* padding-left: 500px;
  padding-right: 500px; */
} 

.back-circle {
  width:80px;
  height:80px;
  border-radius:50%;
  background: white;
  cursor: pointer; 
  
  text-align:center;  /*가로정렬*/
  /* line-height:75px;  세로 정렬  */
}

.link-color {
  color:blue;
}

.car-barcode {
  color:black;
}

.car-color {
  color:green;
}

.building-color {
  color:gold;
}

.back-text {
  display: flex;  
  font-size: 14px;
  background-color: white;
  justify-content:center;
  align-items: center;
  width:80px;
  height:30px;
  border-radius:10px;
  cursor: pointer; 
  margin-top:20px;
  /* text-align:center;  
  line-height:40px;  */
  /*padding-bottom:10px;  */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}